@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por: @ViewData["Dev"]</p>

<address>
    <strong>Projetos no link: </strong>
    <a href="https://github.com/andre55255/FirstProjectAspNET">GitHub</a>
</address>