@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    André Luiz Barros<br />
    Conselheiro Lafaiete - MG, Brasil<br />
    <abbr title="Phone">(31) 99560-0166</abbr>
</address>

<address>
    <strong>Redes sociais: </strong> <a target="_blank" href="https://www.linkedin.com/in/andr%C3%A9-luiz-barros-4668b61a4/">Linkedin</a><br />
    <strong>Projetos: </strong> <a target="_blank" href="http://github.com/andre55255">Github</a><br/>
    <strong>Email: </strong> <a target="_blank" href="mailto:andre_luiz.b5@outlook.com">Outlook</a>
</address>
