@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="jumbotron">
        <h1 class="display-4">Olá amigo,</h1>
        <p class="lead text-justify">
            Bem vindo ao meu primeiro App desenvolvido utilizando ASPNET Core MVC + Entity Framework. O banco de dados utilizado foi o MySql. O objetivo deste app é montar um CRUD de vendas, em que os vendedores são separados por departamentos. Foi implementado alguns métodos de busca agrupada e busca simples, para testar as funcionalidades do LINQ do C#. Para as views foi utilizado o bootstrap para estilização.
        </p>
        <hr class="my-4"/>
        <p>Espero que goste da implementação, abraços!</p>
    </div>
</div>